
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d2dbdd;
}

h1.header {
    text-align: center;
    color: #666;
    margin: 20px;
    font-weight: 200;
}

.recorder {
    background-color: #aaaaaa;
    align-self: center;
    width: 90%;
    height: 150px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.play-button-parent-div {
    margin: auto;
    height: 100px;
    width: 100px;
}

.play-button {
    padding: 5px 8px;
    outline: none;
    padding: 0px;
    margin: auto;
    cursor: pointer;
    transition: all 0.1s;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 40px;
}

.play-button:hover {
    transform: scale(1.05, 1.05);
}

.play-button-img {
    height: 100px;
}

.bottom-part {
    background-color: #aaaaaa;
    width: 90%;
    height: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.emotion-panel {
    background-color: #999999;
    height: 100%;
    width: 38%;
    float: left;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
}

.output-panel {
    background-color: #999999;
    height: 100%;
    width: 58%;
    float: right;
    border-radius: 5px;
    text-align: center;
    padding: 100px;
}

.emotion-card {
    text-align: center;
    background-color: #777777;
    height: 50px;
    width: 90%;
    margin: 10px auto 5px auto;
    padding: 14px;
    border-radius: 5px;
    transition: all 0.1s;
}

.emotion-card:hover {
    background-color: #666666;
    transform: scale(1.05, 1);
}